<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @investment.name %>
</p>

<p>
  <b>Type:</b>
  <%= @investment.investment_type_id %>
</p>



<%= link_to 'Edit', edit_investment_path(@investment) %> |
<%= link_to 'Back', investments_path %>
