<%= form_for(@available_decision_parameter) do |f| %>
  <% if @available_decision_parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@available_decision_parameter.errors.count, "error") %> prohibited this available_decision_parameter from being saved:</h2>

      <ul>
      <% @available_decision_parameter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
