<p id="notice"><%= notice %></p>

<p>
  <b>Brand selection parameter:</b>
  <%= @consumer_brand_selection_parameter.brand_selection_parameter_id %>
</p>

<p>
  <b>Min value:</b>
  <%= @consumer_brand_selection_parameter.min_value %>
</p>

<p>
  <b>Max value:</b>
  <%= @consumer_brand_selection_parameter.max_value %>
</p>


<%= link_to 'Edit', edit_consumer_brand_selection_parameter_path(@consumer_brand_selection_parameter) %> |
<%= link_to 'Back', consumer_brand_selection_parameters_path %>
