<%= form_for(@mathematical_model) do |f| %>
  <% if @mathematical_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mathematical_model.errors.count, "error") %> prohibited this mathematical_model from being saved:</h2>

      <ul>
      <% @mathematical_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :formula %><br />
    <%= f.text_field :formula %>
  </div>

  <div class="field">
    <%= f.label :number_of_constants %><br />
    <%= f.number_field :number_of_constants %>
  </div>
  <div class="field">
    <%= f.label :number_of_variables %><br />
    <%= f.number_field :number_of_variables %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
