<h1>Listing mathematical_models</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Formula</th>
    <th>Number Of Constants</th>
    <th>Number Of Variables</th>
    <th></th>
    <th></th>
    <th></th>

  </tr>

<% @mathematical_models.each do |mathematical_model| %>
  <tr>
    <td><%= mathematical_model.name %></td>
    <td><%= mathematical_model.formula %></td>
    <td><%= mathematical_model.number_of_constants %></td>
    <td><%= mathematical_model.number_of_variables %></td>

    <td><%= link_to 'Show', mathematical_model %></td>
    <td><%= link_to 'Edit', edit_mathematical_model_path(mathematical_model) %></td>
    <td><%= link_to 'Destroy', mathematical_model, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mathematical model', new_mathematical_model_path %>
