<h1>Listing consumers</h1>

<table>
  <tr>
    <th>Consumer category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @consumers.each do |consumer| %>
  <tr>
    <td><%= consumer.consumer_category_id %></td>
    <td><%= link_to 'Show', consumer %></td>
    <td><%= link_to 'Edit', edit_consumer_path(consumer) %></td>
    <td><%= link_to 'Destroy', consumer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Consumer', new_consumer_path %>
