<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vendor.name %>
</p>

<p>
  <b>Market:</b>
  <%= @vendor.market_id %>
</p>

<p>
  <b>Raw material:</b>
  <%= @vendor.raw_material_id %>
</p>


<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
