<h1>Listing mathematical_model_variables</h1>

<table>
  <tr>
    <th>Mathematical model</th>
    <th>Variable name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mathematical_model_variables.each do |mathematical_model_variable| %>
  <tr>
    <td><%= mathematical_model_variable.mathematical_model_id %></td>
    <td><%= mathematical_model_variable.variable_name %></td>
    <td><%= link_to 'Show', mathematical_model_variable %></td>
    <td><%= link_to 'Edit', edit_mathematical_model_variable_path(mathematical_model_variable) %></td>
    <td><%= link_to 'Destroy', mathematical_model_variable, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mathematical model variable', new_mathematical_model_variable_path %>
