<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @case_study.name %>
</p>

<p>
  <b>Description:</b>
  <%= @case_study.description %>
</p>

<p>
  <b>Rounds:</b>
  <%= @case_study.rounds %>
</p>

<p>
  <b>Players:</b>
  <%= @case_study.players %>
</p>


<%= link_to 'Edit', edit_case_study_path(@case_study) %> |
<%= link_to 'Back', case_studies_path %>
