<%= form_for(@expense) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>


<div class="field">
    <%= f.label :number_of_options %><br />
    <%= f.text_field :number_of_options %>
  </div>
<div>
  <%= f.label :expense_type_id %> <br>
  <%= f.select :expense_type_id,ExpenseType.all.collect{|expense_type|[expense_type.name,expense_type.id]} %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
